# Inserts a blank line between shell prompts
add_newline = true


# Change the default prompt format
format = """\
[╭╴](238)$env_var\
$all[╰─](238)$character"""

# Change the default prompt characters
[character]
success_symbol = "[](238)"
error_symbol = "[](238)"

# Distribution
[env_var.STARSHIP_DISTRO]
format = "[$env_value](bold white) "
variable = "STARSHIP_DISTRO"
disabled = false

# Shows the username
[username]
style_user = "white bold"
style_root = "white bold"
format = "[$user]($style) "
disabled = false
show_always = true

# Hostname
[hostname]
ssh_only = false
format = "on [$hostname](bold red) "
disabled = false

# Directory
[directory]
truncation_length = 3
truncation_symbol = "…/"
home_symbol = " ~"
read_only_style = "197"
read_only = "  "
format = "at [$path]($style)[$read_only]($read_only_style) "

[kubernetes]
format = 'on [ $context\($namespace\)](bold purple) '
# 'on [⛵ ($user on )($cluster in )$context \($namespace\)](dimmed green) '
disabled = true
